<div class="flex justify-center items-center py-[16px] px-[32px]" dir="ltr">
  <p class="text-(--p-text-tertiary)">All rights reserved. ©{{ currentYear() }}</p>
  <!-- <div class="flex gap-4">
    <a
      [routerLink]="['/terms']"
      class="text-(--p-text-tertiary)"
    >{{ footerTerms() }}</a>
    <a
      [routerLink]="['/privacy']"
      class="text-(--p-text-tertiary)"
    >{{ footerPrivacy() }}</a>
    <a
      [routerLink]="['/cookie']"
      class="text-(--p-text-tertiary)"
    >{{ footerCookie() }}</a>
  </div> -->
</div>
