<app-base-label [title]="label() | translate" [required]="required()"></app-base-label>

<app-password-toggle
  [control]="formControl()"
  [placeholder]="placeholder() | translate"
  [maxlength]="maxlength()"
></app-password-toggle>

@if (formControl().dirty) {
  @if (formControl().errors?.['required']) {
    <app-base-error [message]="'auth.passwordRequired' | translate" />
  } @else {
    <!-- Password Policy Checks -->
    @if (formControl().invalid) {
      <div class="mt-2 flex flex-col gap-3">
        <!-- Min 8 and Max 20 characters -->
        <div
          class="flex items-center gap-2 animated"
          [class.text-danger]="
            formControl().errors?.['minLength'] || formControl().errors?.['maxLength']
          "
          [class.text-muted]="
            !(formControl().errors?.['minLength'] || formControl().errors?.['maxLength'])
          "
          animate.enter="fadeIn"
          animate.leave="fadeOut"
        >
          @if (formControl().errors?.['minLength'] || formControl().errors?.['maxLength']) {
            <i class="icon-x-circle"></i>
          } @else {
            <span
              class="block flex h-[15px] w-[15px] items-center justify-center rounded-full bg-success"
              ><i class="icon-check text-success-foreground text-xs"></i
            ></span>
          }
          <small class="text-sm">
            {{ 'auth.passwordLength' | translate }}
          </small>
        </div>

        <!-- At least 1 uppercase -->
        <div
          class="flex items-center gap-2 animated"
          [class.text-danger]="formControl().errors?.['uppercase']"
          [class.text-muted]="!formControl().errors?.['uppercase']"
          animate.enter="fadeIn"
          animate.leave="fadeOut"
        >
          @if (formControl().errors?.['uppercase']) {
            <i class="icon-x-circle"></i>
          } @else {
            <span
              class="block flex h-[15px] w-[15px] items-center justify-center rounded-full bg-success"
              ><i class="icon-check text-success-foreground text-xs"></i
            ></span>
          }
          <small class="text-sm">
            {{ 'auth.passwordUppercase' | translate }}
          </small>
        </div>

        <!-- At least 1 lowercase -->
        <div
          class="flex items-center gap-2 animated"
          [class.text-danger]="formControl().errors?.['lowercase']"
          [class.text-muted]="!formControl().errors?.['lowercase']"
          animate.enter="fadeIn"
          animate.leave="fadeOut"
        >
          @if (formControl().errors?.['lowercase']) {
            <i class="icon-x-circle"></i>
          } @else {
            <span
              class="block flex h-[15px] w-[15px] items-center justify-center rounded-full bg-success"
              ><i class="icon-check text-success-foreground text-xs"></i
            ></span>
          }
          <small class="text-sm">
            {{ 'auth.passwordLowercase' | translate }}
          </small>
        </div>

        <!-- At least 1 number -->
        <div
          class="flex items-center gap-2 animated"
          [class.text-danger]="formControl().errors?.['number']"
          [class.text-muted]="!formControl().errors?.['number']"
          animate.enter="fadeIn"
          animate.leave="fadeOut"
        >
          @if (formControl().errors?.['number']) {
            <i class="icon-x-circle"></i>
          } @else {
            <span
              class="block flex h-[15px] w-[15px] items-center justify-center rounded-full bg-success"
              ><i class="icon-check text-success-foreground text-xs"></i
            ></span>
          }
          <small class="text-sm">
            {{ 'auth.passwordNumber' | translate }}
          </small>
        </div>

        <!-- At least 1 special character -->
        <div
          class="flex items-center gap-2 animated"
          [class.text-danger]="formControl().errors?.['specialChar']"
          [class.text-muted]="!formControl().errors?.['specialChar']"
          animate.enter="fadeIn"
          animate.leave="fadeOut"
        >
          @if (formControl().errors?.['specialChar']) {
            <i class="icon-x-circle"></i>
          } @else {
            <span
              class="block flex h-[15px] w-[15px] items-center justify-center rounded-full bg-success"
              ><i class="icon-check text-success-foreground text-xs"></i
            ></span>
          }
          <small class="text-sm">
            {{ 'auth.passwordSpecialChar' | translate }}
          </small>
        </div>
      </div>
    }
  }
}
