<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div [class]="alertClasses()">
  @if (iconName()) {
    <span [class]="iconClasses()">
      <i [class]="iconName() + ' text-base'"></i>
    </span>
  }
  <div class="flex-1">
    @if (title()) {
      <span class="mb-1 block text-sm font-semibold text-foreground">{{ title() }}</span>
    }
    <ng-content></ng-content>
  </div>
  @if (showClose()) {
    <div>
      <span
        class="cursor-pointer text-lg font-bold text-muted transition-colors hover:text-foreground"
        (click)="onCloseClick()"
      >
        <i class="icon-close"></i>
      </span>
    </div>
  }
</div>
