<div class="flex flex-col items-center">
  <span
    class="bg-(--p-bg-brand-primary) w-[48px] h-[48px] rounded-full grid place-content-center mb-[20px] {{
      iconClass()
    }}"
  >
    <i class="{{ icon() }} text-primary"></i>
  </span>
  <p class="font-bold text-lg text-(--p-text-primary) mb-[8px] {{ titleClass() }}">
    {{ messageTitle() }}
  </p>
  <p class="text-sm text-(--p-text-tertiary) mb-[32px] text-center {{ subTitleClass() }}">
    {{ subtitle() }}
  </p>
  <ng-content></ng-content>
</div>
