@for (card of cards; track card.title) {
  <div
    class="bg-primary rounded-xl border border-subtle p-6 cursor-pointer hover:shadow-md transition-shadow"
  >
    <p class="font-medium mb-2">
      {{ card.title }}
    </p>
    <p class="text-2xl font-semibold mb-4">
      {{ card.value }}
    </p>
    <div class="flex items-center gap-1 cursor-pointer text-brand-tertiary">
      <span class="font-semibold"> View Details </span>
      <app-prime-icons class="text-2xl" icon="arrow-up-right"></app-prime-icons>
    </div>
  </div>
}
