<button
  type="button"
  (click)="toggleProfilePopover($event)"
  [class.cursor-pointer]="dropdownItems().length > 0"
  class="w-full border-0 bg-transparent text-start rounded-none"
>
  <div class="items-center md:!flex hidden text-sm">
    <p-avatar icon="pi pi-user" class="w-[40px]! h-[40px]!" shape="circle" size="large"></p-avatar>
    <div class="ms-3 flex flex-col">
      <span class="font-medium">{{ userName() }}</span>
      <span class="text-sm font-normal">{{ userTitle() }}</span>
    </div>

    @if (dropdownItems().length) {
      <i class="icon-chevron-down ms-[18px] transition-all" [class.rotate-180]="isOpen()"></i>
    }
  </div>

  <p-avatar
    [image]="userProfilePicture()"
    class="w-[40px]! h-[40px]! md:hidden! block"
    shape="circle"
    size="large"
  />
</button>

<p-popover
  #profilePopover
  appendTo="body"
  [dismissable]="true"
  (onShow)="onPopoverShow()"
  (onHide)="onPopoverHide()"
  styleClass="profile-dropdown-popover min-w-[280px]"
>
  <div class="flex flex-col">
    @for (item of dropdownItems(); track item.label) {
      @if (item.routerLink) {
        <a
          [routerLink]="item.routerLink"
          (click)="profilePopover.hide()"
          class="flex w-full cursor-pointer items-center gap-3 rounded-lg px-3 py-2 text-left no-underline transition-colors hover:bg-(--p-bg-secondary-hover)"
        >
          <i class="{{ item.icon }}"></i>
          <span>{{ item.label }}</span>
        </a>
      } @else if (item.command) {
        <button
          type="button"
          (click)="executeItemCommand(item)"
          class="flex w-full cursor-pointer items-center gap-3 rounded-lg px-3 py-2 text-left no-underline transition-colors hover:bg-(--p-bg-secondary-hover)"
        >
          <i class="{{ item.icon }}"></i>
          <span>{{ item.label }}</span>
        </button>
      }
    }
  </div>
</p-popover>
