<div
  class="flex flex-col gap-[24px] rounded-2xl border border-border bg-surface p-[24px] shadow-xs {{
    cardClass()
  }}"
>
  @if (icon()) {
    <div
      class="flex h-[40px] w-[40px] items-center justify-center rounded-xl border border-border bg-primary text-primary-foreground shadow-xs"
    >
      <i class="{{ icon() }} text-xl"></i>
    </div>
  }
  <div class="flex flex-col gap-1">
    <h5 class="text-xl font-semibold text-foreground">{{ cardTitle() }}</h5>
    <p class="break-word text-base text-muted">{{ cardDescription() }}</p>
  </div>

  <ng-content select="base-card-info"></ng-content>
  <ng-content select="base-card-actions"></ng-content>
</div>
